﻿@{
    ViewBag.Title = "Phone Ran Away";
}
<table>
    <tbody>
        <tr>
            <td>
                <h1 style="color: @ViewData["color"];">@ViewData["object"]</h1>
                <h3>Его координаты: @ViewData["x"] / @ViewData["y"]</h3>
            </td>
            <td style="padding: 0 100px">
                <img src="/Content/images/logo.jpg"/>
            </td>
        </tr>
    </tbody>
</table>